/*  Styling the app container */
.App {
  margin: 3% auto 0px auto;
	width: min-content;
	padding: 20px 10px 5px 10px;
	border-radius: 5px;
	background: linear-gradient(to left, #2193b0 ,#6dd5ed);
  	background-color:  #b7b7bc;
	box-shadow: 0px 0px 12px 2px black;
  	background-size: cover;
  	position:relative;
  	transition: transform ease-in-out 0.2s;

	animation-name: rotor-pod;
	animation-duration: 0.6s;
	animation-iteration-count: 1;
	animation-play-state: running;
	animation-timing-function: ease-in-out;
}

/* css for the screen container */
.screen-container {
	width: 350px;
	height: 350px;
	margin: 0px auto;
	background-color: #fc9842;
	background-image: linear-gradient(315deg, #fc9842 0%, #fe5f75 74%);	
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
	position: relative;
    border-radius: 5px;
    transition: transform ease-in-out 0.2s;
}

/* css for button container */
.buttons-container {
	width: 235px;
	height: 235px;
	border: 1px solid grey;
	margin: 10px auto 10px auto;
	border-radius: 50%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
    background-color: rgb(255 255 255);
}

.center-circle {
	width: 40%;
	height: 40%;
	background-color: #ccccd1;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	outline: none;
	border: none;
	
}

.center-circle:hover{
	box-shadow: 0px 0px 12px 2px #fc9842;
}

/* writing css together for buttons having common styling */
.common-btn-style{
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 30px;
	outline: none;
	border: none;
	background-color: transparent;
}

.menu-button {
	top: 10px;
	height: 25%;
	width: 50%;
	color: #72727a;
	border-radius: 37% 37% 0% 0%;
}

.left-button {
	left: 0px;
	width: 25%;
	height: 50%;
	border-radius: 37% 0% 0% 37%;
	color: #72727a;
}

.right-button {
	right: 0px;
	width: 25%;
	height: 50%;
	border-radius: 0% 37% 37% 0%;
	color: #72727a;
}

.play-pause {
	bottom: 0px;
	height: 25%;
	width: 50%;
	border-radius: 0px 0% 37% 37%;
	color: #72727a;
}

.screen-menu {
	width: 0%;
	height: 100%;
	position: absolute;
	z-index: 5;
	left: 0%;
	background-color: rgb(176, 255, 247);
	box-shadow: none;
	overflow-x: hidden;
	transition: width ease-in-out 0.2s;
}

.width-50 {
	width: 50% !important;
	box-shadow: 0px 0px 12px 1px rgb(82, 82, 82) !important;
}

.screen-menu > div {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 20%;
	border: 1px solid rgb(190, 190, 190);
	box-sizing: border-box;
	white-space: nowrap; /* to turn off text wrapping in the screen menu */
}

.screen-menu p {
	font-size: 20px;
	overflow-wrap: normal;
}

.screen-menu > .selected {
	background-color: rgb(57, 57, 235);
	color: #fbfbfbfd;
}

.app-logo {
	background-color: #faf1f4b1;
	color: rgb(75, 65, 65);
	font-size: large;
}

.screen {
	height: 100%;
	width: 100%;
	box-sizing: border-box;
	overflow: hidden;
	background-color: rgba(255, 255, 255, 0.9);
}

.highlight{
	color: rgb(40 76 90);
	width: 50%;
	height: 50%;
	margin: 85px 0px 0px 85px;
	
}

.title{
	color: rgb(40 76 90);
	text-align: center;
}





